<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" href="/static/css/bootstrap.min.css">
        <link rel="shortcut icon" href="/static/img/favicon.png">
        
        <title>Vital Acupuncture | Patient Edit</title>
    </head>

    <style>
        body {
            margin-top: 10px;
        }

        #header {
            width: 500px;
            height: 63px;
        }

        .breadcrumb-transparent {
            background-color: transparent;
        }

        .data-label {
            width: 10%;
            text-align: right;
        }

        .data-value {
            text-align: left;
        }

        .data-3 {
            width: calc(70% / 3);
        }
    </style>

    <body>
        <div class="container">
            <!-- HEADER -->
            <div class="row">
                <!-- title -->
                <div class="col-md-9">
                    <!-- <h1>Vital Acupuncture</h1> -->
                    <img src="/static/img/header_250.png" alt="Vital Acupuncture" id="header">
                </div>

                <!-- doctor actions -->
                <div class="col-md-3">
                    <div class="btn-group float-right">
                        <div class="border border-secondary rounded-left px-2">
                            👤 {{ doctor }}
                        </div>
                        <button class="btn btn-sm btn-secondary dropdown-toggle" type="button" id="doctor" data-toggle="dropdown"></button>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="/logout">Logout</a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- BREADCRUMBS -->
            <nav>
                <ol class="pb-0 breadcrumb breadcrumb-transparent">
                    <li class="breadcrumb-item"><a href="/home">Home</a></li>
                    <li class="breadcrumb-item"><a href="/patient/{{ pkey }}">Patient</a></li>
                    <li class="breadcrumb-item active"><a href="/patient/{{ pkey }}/edit">Edit</a></li>
                </ol>
            </nav>

            <hr/>

            <div class="row">
                <h3>Editing {{ pkey }}</h3>
                <a href="/patient/{{ pkey }}/edit">
                    <button type="button" class="ml-2 btn btn-success">Save</button>
                </a>
            </div>

            <br/>

            <table class="table table-bordered">
                <tr>
                    <th class="data-label">Fname</th>
                    <td class="data-value data-3" contenteditable="true">
                        {% if patient[3] %} {{ patient[3] }}
                        {% else %}{% endif %}
                    </td>
                    <th class="data-label">Lname</th>
                    <td class="data-value data-3" contenteditable="true">
                        {% if patient[4] %} {{ patient[4] }}
                        {% else %}{% endif %}
                    </td>
                    <th class="data-label">DOB</th>
                    <td class="data-value data-3" contenteditable="true">
                        {% if patient[6] %} {{ patient[6] }}
                        {% else %}{% endif %}
                    </td>
                </tr>
                <tr>
                    <th class="data-label">Gender</th>
                    <td class="data-value">
						<select class="custom-select" id="inputGroupSelect01">
							<option value="m" {% if patient[5] == 'm' %}selected{% endif %}>Male</option>
							<option value="f" {% if patient[5] == 'f' %}selected{% endif %}>Female</option>
						</select>
                    </td>
                    <th class="data-label">Height</th>
                    <td class="data-value" contenteditable="true">
                        {% if patient[3] %} {{ patient[3] }}
                        {% else %}{% endif %}
                    </td>
                    <th class="data-label">Weight</th>
                    <td class="data-value" contenteditable="true">
                        {% if patient[7] %} {{ patient[7] }}
                        {% else %}{% endif %}
                    </td>
                </tr>
                <tr>
                    <th class="data-label">Addr 1</th>
                    <td class="data-value" colspan="5" contenteditable="true">
                        {% if patient[9] %} {{ patient[9] }}
                        {% else %}{% endif %}
                    </td>
                </tr>
                <tr>
                    <th class="data-label">Addr 2</th>
					<td class="data-value" colspan="5" contenteditable="true">
                        {% if patient[10] %} {{ patient[10] }}
                        {% else %}{% endif %}
                    </td>
                </tr>
                <tr>
                    <th class="data-label">Phone 1</th>
                    <td class="data-value" colspan="5" contenteditable="true">
                        {% if patient[11] %} {{ patient[11] }}
                        {% else %}{% endif %}
                    </td>
                </tr>
                <tr>
                    <th class="data-label">Phone 2</th>
                    <td class="data-value" colspan="5" contenteditable="true">
                        {% if patient[12] %} {{ patient[12] }}
                        {% else %}{% endif %}
                    </td>
                </tr>
                <tr>
                    <th class="data-label">Email</th>
                    <td class="data-value" colspan="5" contenteditable="true">
                        {% if patient[13] %} {{ patient[13] }}
                        {% else %}{% endif %}
                    </td>
                </tr>
                <tr>
                    <th class="data-label">History</th>
                    <td class="data-value" colspan="5" contenteditable="true">
                        {% if patient[14] %} {{ patient[14] }}
                        {% else %}{% endif %}
                    </td>
                </tr>
                <tr>
                    <th class="data-label">Family HX</th>
                    <td class="data-value" colspan="5" contenteditable="true">
                        {% if patient[16] %} {{ patient[16] }}
                        {% else %}{% endif %}
                    </td>
                </tr>
                <tr>
                    <th class="data-label">Allergy</th>
                    <td class="data-value" colspan="5" contenteditable="true">
                        {% if patient[17] %} {{ patient[17] }}
                        {% else %}{% endif %}
                    </td>
                </tr>
                <tr>
                    <th class="data-label">Note</th>
                    <td class="data-value" colspan="5" contenteditable="true">
                        {% if patient[18] %} {{ patient[18] }}
                        {% else %}{% endif %}
                    </td>
                </tr>
                <tr>
                    <th class="data-label">Attachment</th>
                    <td class="data-value" colspan="5" contenteditable="true">
                        {% if patient[19] %}
                            <a href="{{ patient[19] }}" target="__blank">{{ patient[19] }}</a>
                        {% else %}
                            
                        {% endif %}
                    </td>
                </tr>
            </table>

             <!--
                0  create_date
                1  suffix
                2  patient_key
                3  last_name
                4  first_name
                5  gender
                6  dob
                7  height
                8  weight
                9  addr1
                10 addr2
                11 phone1
                12 phone2
                13 email
                14 medical_history
                15 medications
                16 family_hx
                17 allergy
                18 note
                19 attachment
            -->
        
        </div>

        <script src="/static/js/popper.min.js"></script>
        <script src="/static/js/jquery-3.4.1.min.js"></script>
        <script src="/static/js/bootstrap.min.js"></script>
    </body>
</html>