<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" href="/static/css/bootstrap.min.css">
        <link rel="shortcut icon" href="/static/img/favicon.png">
        <link rel="stylesheet" href="/static/css/font-awesome.min.css">
        
        <title>Vital Acupuncture | Patient Detail</title>
    </head>

    <style>
        body {
            margin-top: 10px;
        }

        #header {
            width: 500px;
            height: 63px;
        }

        .breadcrumb-transparent {
            background-color: transparent;
        }

        .data-label-top {
            width: 0%;
            text-align: center;
            white-space: nowrap;
        }

        .data-label {
            width: 0%;
            text-align: right;
            white-space: nowrap;
        }

        .data-label-lg {
            font-weight: bold;
            font-size: 1.5rem;
        }

        .data-checkbox {
            width: 20px;
            height: 20px;
        }

        .data-value {
            text-align: left;
        }

        .data-6 {
            width: calc(70% / 6);
        }

        .data-4 {
            width: calc(70% / 4);
        }

        .data-3 {
            width: calc(70% / 3);
        }

        .data-2 {
            width: calc(70% / 2);
        }

        a:hover {
            text-decoration: none;
        }
    </style>

    <body>
        <div class="container">
            <!-- HEADER -->
            <div class="row">
                <!-- title -->
                <div class="col-md-9">
                    <!-- <h1>Vital Acupuncture</h1> -->
                    <img src="/static/img/header_250.png" alt="Vital Acupuncture" id="header">
                </div>

                <!-- doctor actions -->
                <div class="col-md-3">
                    <div class="btn-group float-right">
                        <div class="border border-secondary rounded-left px-2">
                            👤 {{ doctor }}
                        </div>
                        <button class="btn btn-sm btn-secondary dropdown-toggle" type="button" id="doctor" data-toggle="dropdown"></button>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="/logout">Logout</a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- BREADCRUMBS -->
            <nav>
                <ol class="pb-0 breadcrumb breadcrumb-transparent">
                    <li class="breadcrumb-item"><a href="/home">Home</a></li>
                    <li class="breadcrumb-item active"><a href="/patient/{{ pkey }}">Patient</a></li>
                </ol>
            </nav><hr/>

            <!-- TOOLBAR -->
            <div class="row">
                <!-- patient actions -->
                <div class="col-md-9">
                    <div class="row">
                        <h3>Patient {{ pkey }}</h3>
                        <div class="ml-2">
                            <a href="/patient/{{ pkey }}/edit">
                                <button type="button" class="btn btn-outline-primary">Edit</button>
                            </a>
                            <button type="button" id="delete" class="btn btn-danger" data-toggle="modal" data-target="#confirmation">Delete</button>
                        </div>
                    </div>
                </div>

                <!-- visit actions -->
                <div class="col-md-3">
                    <div class="float-right">
                        <button type="button" data-toggle="modal" data-target="#new-visit" class="btn btn-success">New Visit</button>
                    </div>
                </div>
            </div><br/>

            <!-- DELETE CONFIRM MODAL -->
            <div class="modal fade" tabindex="-1" role="dialog" id="confirmation">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Are you sure?</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>This action is permentant, and cannot be undone</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancel</button>
                            <a href="/patient/{{ pkey }}/delete">
                                <button type="button" id="confirm-delete" class="btn btn-danger">Delete</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- NEW VISIT MODAL -->
            <div class="modal fade" id="new-visit" tabindex="-1">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            {% if new_visit %}
                                <h5 class="modal-title">New Visit</h5>
                            {% else %}
                                <h5 class="modal-title">Returning Visit</h5>
                            {% endif %}
                        </div>

                        <div class="modal-body">
                            <h6>{{ pkey }}</h6>
                            <table class="table table-bordered">
                                <tr>
                                    <th class="data-label">Fname</th>
                                    <td class="data-value data-3">
                                        {% if patient[4] %} {{ patient[4] }}
                                        {% else %}<i>N/A</i>{% endif %}
                                    </td>
                                    <th class="data-label">Lname</th>
                                    <td class="data-value data-3">
                                        {% if patient[3] %} {{ patient[3] }}
                                        {% else %}<i>N/A</i>{% endif %}
                                    </td>
                                    <th class="data-label">DOB</th>
                                    <td class="data-value data-3">
                                        {% if patient[6] %} {{ patient[6] }}
                                        {% else %}<i>N/A</i>{% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <th class="data-label">Gender</th>
                                    <td class="data-value">
                                        {% if patient[5] %} 
                                            {% if patient[5] == 'm' %}
                                                Male
                                            {% else %}
                                                Female
                                            {% endif %}
                                        {% else %}<i>N/A</i>{% endif %}
                                    </td>
                                    <th class="data-label">Height</th>
                                    <td class="data-value">
                                        {% if patient[7] %} {{ patient[7] }}
                                        {% else %}<i>N/A</i>{% endif %}
                                    </td>
                                    <th class="data-label">Weight</th>
                                    <td class="data-value">
                                        {% if patient[8] %} {{ patient[8] }}
                                        {% else %}<i>N/A</i>{% endif %}
                                    </td>
                                </tr>

                                {% if not new_visit %}
                                    <tr>
                                        <th class="data-label">History</th>
                                        <td class="data-value" colspan="5">{{ patient[14] }}</td>
                                    </tr>

                                    <tr>
                                        <th class="data-label">Medication</th>
                                        <td class="data-value" colspan="5">{{ patient[15] }}</td>
                                    </tr>

                                    <tr>
                                        <th class="data-label">Allergy</th>
                                        <td class="data-value" colspan="5">{{ patient[17] }}</td>
                                    </tr>
                                {% endif %}
                            </table>

                            <h6>Intake Form</h6>
                            <table class="table table-bordered">
                                <tr>
                                    <th class="data-label">Temperature</th>
                                    <td form="new-visit" name="temperature" class="data-value data-3" contenteditable="true"></td>

                                    <th class="data-label">Blood Pressure</th>
                                    <td form="new-visit" name="blood_pressure_l" class="data-value data-6" contenteditable="true"></td>
                                    <td form="new-visit" name="blood_pressure_h" class="data-value data-6" contenteditable="true"></td>

                                    <th class="data-label">Heart Rate</th>
                                    <td form="new-visit" name="heart_rate" class="data-value data-3" contenteditable="true"></td>
                                </tr>

                                <tr>
                                    <th class="data-label">Complaint</th>
                                    <td form="new-visit" name="chief_complaint" class="data-value" colspan="6" contenteditable="true"></td>
                                </tr>

                                {% if new_visit %}
                                    <tr>
                                        <th class="data-label">Location</th>
                                        <td form="new-visit" name="location" class="data-value" contenteditable="true" colspan="2"></td>

                                        <th class="data-label">Onset</th>
                                        <td form="new-visit" name="onset" class="data-value data-2" colspan="3" contenteditable="true"></td>
                                    </tr>

                                    <tr>
                                        <th class="data-label">Provocation</th>
                                        <td form="new-visit" name="provocation" class="data-value" contenteditable="true" colspan="2"></td>

                                        <th class="data-label">Palliation</th>
                                        <td form="new-visit" name="palliation" class="data-value data-2" colspan="3" contenteditable="true"></td>
                                    </tr>

                                    <tr>
                                        <th class="data-label">Quality</th>
                                        <td form="new-visit" name="quality" class="data-value" contenteditable="true" colspan="2"></td>

                                        <th class="data-label">Region</th>
                                        <td form="new-visit" name="region" class="data-value data-2" colspan="3" contenteditable="true"></td>
                                    </tr>
        
                                    <tr>
                                        <th class="data-label">Severity</th>
                                        <td form="new-visit" name="severity" class="data-value" contenteditable="true" colspan="2"></td>

                                        <th class="data-label">Frequency</th>
                                        <td form="new-visit" name="frequency" class="data-value data-2" colspan="3" contenteditable="true"></td>
                                    </tr>
        
                                    <tr>
                                        <th class="data-label">Timing</th>
                                        <td form="new-visit" name="timing" class="data-value" contenteditable="true" colspan="2"></td>

                                        <th class="data-label">P. Cause</th>
                                        <td form="new-visit" name="possible_cause" class="data-value data-2" colspan="3" contenteditable="true"></td>
                                    </tr>

                                    <tr>
                                        <th class="data-label">Remark</th>
                                        <td form="new-visit" name="remark" class="data-value" colspan="6" contenteditable="true"></td>
                                    </tr>
                                {% else %}
                                    <tr>
                                        <th class="data-label">Prev. Feedback</th>
                                        <td class="data-value" colspan="6">N/A for now</td>
                                    </tr>
                                {% endif %}

                                <tr>
                                    <th class="data-label">Present Illness</th>
                                    <td form="new-visit" name="present_illness" class="data-value" colspan="6" contenteditable="true"></td>
                                </tr>

                                {% if new_visit %}
                                    <tr>
                                        <th class="data-label">History</th>
                                        <td form="new-visit" name="medical_history" class="data-value" colspan="6" contenteditable="true">
                                            {% if patient[14] %}{{ patient[14] }}{% endif %}
                                        </td>
                                    </tr>
                                {% endif %}
                            </table>

                            {% if new_visit %}
                                <table class="table table-bordered">
                                    <tr>
                                        <th class="data-label">Medications</th>
                                        <td form="new-visit" name="medications" class="data-value" width="100%" contenteditable="true">
                                            {% if patient[15] %}{{ patient[15] }}{% endif %}
                                        </td>
                                    </tr>

                                    <tr>
                                        <th class="data-label">Family HX</th>
                                        <td form="new-visit" name="family_hx" class="data-value" width="100%" contenteditable="true">
                                            {% if patient[16] %}{{ patient[16] }}{% endif %}
                                        </td>
                                    </tr>

                                    <tr>
                                        <th class="data-label">Allergy</th>
                                        <td form="new-visit" name="allergy" class="data-value" width="100%" contenteditable="true">
                                            {% if patient[17] %}{{ patient[17] }}{% endif %}
                                        </td>
                                    </tr>
                                </table>
                            {% endif %}

                            <h6>Ten Questions and ROS</h6>
                            <table class="table table-bordered">
                                {% if new_visit %}
                                    <tr>
                                        <th class="data-label">Fever</th>
                                        <td form="new-visit" name="tq_fever" class="data-value data-3" contenteditable="true"></td>

                                        <th class="data-label">Perspiration</th>
                                        <td form="new-visit" name="tq_perspiration" class="data-value data-3" contenteditable="true"></td>

                                        <th class="data-label">Thirst</th>
                                        <td form="new-visit" name="tq_thirst" class="data-value data-3" contenteditable="true"></td>
                                    </tr>
                                {% endif %}

                                <tr>
                                    <th class="data-label">Appetite</th>
                                    <td form="new-visit" name="tq_appetite" class="data-value data-3" contenteditable="true"></td>

                                    <th class="data-label">Digestion</th>
                                    <td form="new-visit" name="tq_digestion" class="data-value data-3" contenteditable="true" {%if not new_visit%}colspan="3"{%endif%}></td>
                                    
                                    {% if new_visit %}
                                        <th class="data-label">Taste</th>
                                        <td form="new-visit" name="tq_taste" class="data-value data-3" contenteditable="true"></td>
                                    {% endif %}
                                </tr>

                                <tr>
                                    <th class="data-label">Bowel Movement</th>
                                    <td form="new-visit" name="tq_bm" class="data-value" colspan="5" contenteditable="true"></td>
                                </tr>
                            </table>

                            <table class="table table-bordered">
                                {% if new_visit %}
                                    <tr>
                                        <th class="data-label">Urine</th>
                                        <td form="new-visit" name="exam_urine" class="data-value" colspan="5" contenteditable="true"></td>
                                    </tr>
                                {% endif %}

                                <tr>
                                    <th class="data-label">Sleep</th>
                                    <td form="new-visit" name="exam_sleep" class="data-value" colspan="5" contenteditable="true"></td>
                                </tr>
    
                                {% if new_visit %}
                                    <tr>
                                        <th class="data-label">Pain</th>
                                        <td form="new-visit" name="exam_pain" class="data-value" colspan="5" contenteditable="true"></td>
                                    </tr>
                                {% endif %}

                                <tr>
                                    <th class="data-label">Tongue</th>
                                    <td form="new-visit" name="exam_tongue" class="data-value" colspan="5" contenteditable="true"></td>
                                </tr>

                                {% if new_visit %}
                                    <tr>
                                        <th class="data-label">Consciousness</th>
                                        <td form="new-visit" name="exam_consciousness" class="data-value data-3" contenteditable="true"></td>

                                        <th class="data-label">Energy</th>
                                        <td form="new-visit" name="exam_energy_level" class="data-value data-3" contenteditable="true"></td>

                                        <th class="data-label">Stress</th>
                                        <td form="new-visit" name="exam_stress_level" class="data-value data-3" contenteditable="true"></td>
                                    </tr>
                                {% endif %}

                                <tr>
                                    <th class="data-label">Pulse L</th>
                                    <td form="new-visit" name="exam_pulse_l" class="data-value data-2" contenteditable="true"></td>

                                    <th class="data-label">Pulse R</th>
                                    <td form="new-visit" name="exam_pulse_r" class="data-value data-2" colspan="3" contenteditable="true"></td>
                                </tr>
                            </table>

                            {% if patient[5] == 'f' %}
                                <h6>Women Only</h6>
                                <table class="table table-bordered">
                                    <tr>
                                        <th class="data-label">Menarche</th>
                                        <td form="new-visit" name="women_menarche" class="data-value data-4" contenteditable="true"></td>

                                        <th class="data-label">Menopause</th>
                                        <td form="new-visit" name="women_menopause" class="data-value data-4" contenteditable="true"></td>

                                        <th class="data-label">Pregnancies</th>
                                        <td form="new-visit" name="women_num_pregnant" class="data-value data-4" contenteditable="true"></td>

                                        <th class="data-label">Children</th>
                                        <td form="new-visit" name="women_num_child" class="data-value data-4" contenteditable="true"></td>
                                    </tr>

                                    <tr>
                                        <th class="data-label">Miscarriage</th>
                                        <td form="new-visit" name="women_miscarriage" class="data-value data-4" contenteditable="true"></td>

                                        <th class="data-label">Leukorrhea</th>
                                        <td form="new-visit" name="women_leukorrhea" class="data-value data-4" contenteditable="true"></td>

                                        <th class="data-label">Birth Control</th>
                                        <td form="new-visit" name="women_birth_control" class="data-value data-4" contenteditable="true" colspan="3"></td>                
                                    </tr>

                                    <tr>
                                        <th class="data-label">Menstruation</th>
                                        <td form="new-visit" name="women_menstruation" class="data-value" colspan="7" contenteditable="true"></td>
                                    </tr>
                                </table>
                            {% endif %}

                            <table class="table table-bordered">
                                <tr>
                                    <th class="data-label-top">TCM Diagnosis</th>
                                    <th class="data-label-top">Treatment Principle</th>
                                    <th class="data-label-top">Acupuncture Points</th>
                                </tr>

                                <tr>
                                    <td form="new-visit" name="tcm_diag_1" class="data-value" contenteditable="true"></td>
                                    <td form="new-visit" name="treat_principle" class="data-value" contenteditable="true" rowspan="4"></td>
                                    <td form="new-visit" name="acu_points" class="data-value" contenteditable="true" rowspan="4"></td>
                                </tr>

                                <tr><td form="new-visit" name="tcm_diag_2" class="data-value" contenteditable="true"></td></tr>
                                <tr><td form="new-visit" name="tcm_diag_3" class="data-value" contenteditable="true"></td></tr>
                                <tr><td form="new-visit" name="tcm_diag_4" class="data-value" contenteditable="true"></td></tr>
                            </table>

                            <h6>Other Treatment</h6>
                            <table class="table table-bordered">
                                <tr>
                                    <th class="data-label">Moxa</th>
                                    <td class="data-value data-3"><input form="new-visit" name="moxa" type="checkbox" class="data-checkbox"></td>

                                    <th class="data-label">Cupping</th>
                                    <td class="data-value data-3"><input form="new-visit" name="cupping" type="checkbox" class="data-checkbox"></td>

                                    <th class="data-label">Electro Acupuncture</th>
                                    <td class="data-value data-3"><input form="new-visit" name="eacu" type="checkbox" class="data-checkbox"></td>
                                </tr>

                                <tr>
                                    <th class="data-label">Auricular</th>
                                    <td form="new-visit" name="auricular" class="data-value" colspan="5" contenteditable="true"></td>
                                </tr>

                                <tr>
                                    <th class="data-label">Condition Treated</th>
                                    <td form="new-visit" name="condition_treated" class="data-value" colspan="5" contenteditable="true"></td>
                                </tr>
                            </table>

                            <table class="table table-bordered">
                                <tr>
                                    <th class="data-label data-label-lg">Fee</th>
                                    <td form="new-visit" name="fee" class="data-value data-2" contenteditable="true"></td>

                                    <th class="data-label data-label-lg">Paid</th>
                                    <td class="data-value data-2"><input form="new-visit" name="paid" type="checkbox" class="data-checkbox"></td>
                                </tr>
                            </table>

                            <table class="table table-bordered">
                                <tr>
                                    <th class="data-label">Note</th>
                                    <td form="new-visit" name="note" class="data-value" contenteditable="true" width="100%"></td>
                                </tr>
                            </table>
                        </div>

                        <div class="modal-footer">
                            <button id="new-create" type="button" class="btn btn-success">Create</button>
                            <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancel</button>
                        </div>                
                    </div>
                </div>
            </div>

            <!-- DATA TABLE -->
            <div>
                <table class="table table-bordered">
                    <tr>
                        <th class="data-label">Fname</th>
                        <td class="data-value data-3">
                            {% if patient[4] %} {{ patient[4] }}
                            {% else %}<i>N/A</i>{% endif %}
                        </td>
                        <th class="data-label">Lname</th>
                        <td class="data-value data-3">
                            {% if patient[3] %} {{ patient[3] }}
                            {% else %}<i>N/A</i>{% endif %}
                        </td>
                        <th class="data-label">DOB</th>
                        <td class="data-value data-3">
                            {% if patient[6] %} {{ patient[6] }}
                            {% else %}<i>N/A</i>{% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th class="data-label">Gender</th>
                        <td class="data-value">
                            {% if patient[5] %} 
                                {% if patient[5] == 'm' %}
                                    Male
                                {% else %}
                                    Female
                                {% endif %}
                            {% else %}<i>N/A</i>{% endif %}
                        </td>
                        <th class="data-label">Height</th>
                        <td class="data-value">
                            {% if patient[7] %} {{ patient[7] }}
                            {% else %}<i>N/A</i>{% endif %}
                        </td>
                        <th class="data-label">Weight</th>
                        <td class="data-value">
                            {% if patient[8] %} {{ patient[8] }}
                            {% else %}<i>N/A</i>{% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th class="data-label">Addr 1</th>
                        <td class="data-value" colspan="5">
                            {% if patient[9] %} {{ patient[9] }}
                            {% else %}<i>N/A</i>{% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th class="data-label">Addr 2</th>
                        <td class="data-value" colspan="5">
                            {% if patient[10] %} {{ patient[10] }}
                            {% else %}<i>N/A</i>{% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th class="data-label">Phone 1</th>
                        <td class="data-value" colspan="5">
                            {% if patient[11] %} {{ format_phone(patient[11]) }}
                            {% else %}<i>N/A</i>{% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th class="data-label">Phone 2</th>
                        <td class="data-value" colspan="5">
                            {% if patient[12] %} {{ format_phone(patient[12]) }}
                            {% else %}<i>N/A</i>{% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th class="data-label">Email</th>
                        <td class="data-value" colspan="5">
                            {% if patient[13] %} {{ patient[13] }}
                            {% else %}<i>N/A</i>{% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th class="data-label">History</th>
                        <td class="data-value" colspan="5">
                            {% if patient[14] %} {{ patient[14] }}
                            {% else %}<i>N/A</i>{% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th class="data-label">Family HX</th>
                        <td class="data-value" colspan="5">
                            {% if patient[16] %} {{ patient[16] }}
                            {% else %}<i>N/A</i>{% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th class="data-label">Allergy</th>
                        <td class="data-value" colspan="5">
                            {% if patient[17] %} {{ patient[17] }}
                            {% else %}<i>N/A</i>{% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th class="data-label">Note</th>
                        <td class="data-value" colspan="5">
                            {% if patient[18] %} {{ patient[18] }}
                            {% else %}<i>N/A</i>{% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th class="data-label">Attachment</th>
                        <td class="data-value" colspan="5">
                            {% if patient[19] %}
                                <a href="{{ patient[19] }}" target="__blank">{{ patient[19] }}</a>
                            {% else %}
                                <i>N/A</i>
                            {% endif %}
                        </td>
                    </tr>
                </table>
            </div><br/>

            <!-- VISITS LIST -->
            <div>
                <h4>Visits</h4>
                {% if visits | length == 0 %}
                    <p>This patient has no recorded visits</p>
                {% else %}
                    <table class="table">
                        <thead>
                            <tr>
                                <th class="border-top-0">Visit Date</th>
                                <th class="border-top-0" style="width: 80%">Chief Complaint</th>
                                <th class="border-top-0" ></th>
                            </tr>
                        </thead>

                        {% for visit in visits %}
                            <tr>
                                <td>{{ visit[5] }}</td>
                                <td>{{ visit[10] }}</td>
                                <td><button type="button" class="btn btn-outline-primary btn-sm" data-toggle="modal" data-target="#modal-{{ visit[0] }}">View</button></td>
                            </tr>
                        {% endfor %}
                    </table>
                {% endif %}
            </div><br/><br/>

            <!-- VISIT VIEW MODALS -->
            {% for visit in visits %}
                <div class="modal fade" id="modal-{{ visit[0] }}" tabindex="-1">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                {% if visit[2] == 'true' %}
                                    <h5 class="modal-title">New Visit {{ visit[0] }}</h5>
                                {% else %}
                                    <h5 class="modal-title">Returning Visit {{ visit[0] }}</h5>
                                {% endif %}
                            </div>
    
                            <div class="modal-body">
                                <h6>{{ pkey }}</h6>
                                <table class="table table-bordered">
                                    <tr>
                                        <th class="data-label">Fname</th>
                                        <td class="data-value data-3">
                                            {% if patient[4] %} {{ patient[4] }}
                                            {% else %}<i>N/A</i>{% endif %}
                                        </td>
                                        <th class="data-label">Lname</th>
                                        <td class="data-value data-3">
                                            {% if patient[3] %} {{ patient[3] }}
                                            {% else %}<i>N/A</i>{% endif %}
                                        </td>
                                        <th class="data-label">DOB</th>
                                        <td class="data-value data-3">
                                            {% if patient[6] %} {{ patient[6] }}
                                            {% else %}<i>N/A</i>{% endif %}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="data-label">Gender</th>
                                        <td class="data-value">
                                            {% if patient[5] %} 
                                                {% if patient[5] == 'm' %}
                                                    Male
                                                {% else %}
                                                    Female
                                                {% endif %}
                                            {% else %}<i>N/A</i>{% endif %}
                                        </td>
                                        <th class="data-label">Height</th>
                                        <td class="data-value">
                                            {% if patient[7] %} {{ patient[7] }}
                                            {% else %}<i>N/A</i>{% endif %}
                                        </td>
                                        <th class="data-label">Weight</th>
                                        <td class="data-value">
                                            {% if patient[8] %} {{ patient[8] }}
                                            {% else %}<i>N/A</i>{% endif %}
                                        </td>
                                    </tr>
    
                                    {% if not new_visit %}
                                        <tr>
                                            <th class="data-label">History</th>
                                            <td class="data-value" colspan="5">{{ patient[14] }}</td>
                                        </tr>
    
                                        <tr>
                                            <th class="data-label">Medication</th>
                                            <td class="data-value" colspan="5">{{ patient[15] }}</td>
                                        </tr>
    
                                        <tr>
                                            <th class="data-label">Allergy</th>
                                            <td class="data-value" colspan="5">{{ patient[17] }}</td>
                                        </tr>
                                    {% endif %}
                                </table>
    
                                <h6>Intake Form</h6>
                                <table class="table table-bordered">
                                    <tr>
                                        <th class="data-label">Temperature</th>
                                        <td form="new-visit" name="temperature" class="data-value data-3">{{ visit[6] }}</td>
    
                                        <th class="data-label">Blood Pressure</th>
                                        <td form="new-visit" name="blood_pressure_l" class="data-value data-6">{{ visit[9] }}</td>
                                        <td form="new-visit" name="blood_pressure_h" class="data-value data-6">{{ visit[8] }}</td>
    
                                        <th class="data-label">Heart Rate</th>
                                        <td form="new-visit" name="heart_rate" class="data-value data-3">{{ visit[7] }}</td>
                                    </tr>
    
                                    <tr>
                                        <th class="data-label">Complaint</th>
                                        <td form="new-visit" name="chief_complaint" class="data-value" colspan="6">{{ visit[10] }}</td>
                                    </tr>
    
                                    {% if visit[2] == 'true' %}
                                        <tr>
                                            <th class="data-label">Location</th>
                                            <td form="new-visit" name="location" class="data-value" colspan="2">{{ visit[35] }}</td>
    
                                            <th class="data-label">Onset</th>
                                            <td form="new-visit" name="onset" class="data-value data-2" colspan="3">{{ visit[36] }}</td>
                                        </tr>
    
                                        <tr>
                                            <th class="data-label">Provocation</th>
                                            <td form="new-visit" name="provocation" class="data-value" colspan="2">{{ visit[37] }}</td>
    
                                            <th class="data-label">Palliation</th>
                                            <td form="new-visit" name="palliation" class="data-value data-2" colspan="3">{{ visit[38] }}</td>
                                        </tr>
    
                                        <tr>
                                            <th class="data-label">Quality</th>
                                            <td form="new-visit" name="quality" class="data-value" colspan="2">{{ visit[39] }}</td>
    
                                            <th class="data-label">Region</th>
                                            <td form="new-visit" name="region" class="data-value data-2" colspan="3">{{ visit[40] }}</td>
                                        </tr>
            
                                        <tr>
                                            <th class="data-label">Severity</th>
                                            <td form="new-visit" name="severity" class="data-value" colspan="2">{{ visit[41] }}</td>
    
                                            <th class="data-label">Frequency</th>
                                            <td form="new-visit" name="frequency" class="data-value data-2" colspan="3">{{ visit[42] }}</td>
                                        </tr>
            
                                        <tr>
                                            <th class="data-label">Timing</th>
                                            <td form="new-visit" name="timing" class="data-value" colspan="2">{{ visit[43] }}</td>
    
                                            <th class="data-label">P. Cause</th>
                                            <td form="new-visit" name="possible_cause" class="data-value data-2" colspan="3">{{ visit[44] }}</td>
                                        </tr>
    
                                        <tr>
                                            <th class="data-label">Remark</th>
                                            <td form="new-visit" name="remark" class="data-value" colspan="6">{{ visit[45] }}</td>
                                        </tr>
                                    {% else %}{% endif %}
    
                                    <tr>
                                        <th class="data-label">Present Illness</th>
                                        <td form="new-visit" name="present_illness" class="data-value" colspan="6">{{ visit[11] }}</td>
                                    </tr>
    
                                    {% if visit[2] == 'true' %}
                                        <tr>
                                            <th class="data-label">History</th>
                                            <td form="new-visit" name="medical_history" class="data-value" colspan="6">
                                                {{ patient[14] }}
                                            </td>
                                        </tr>
                                    {% endif %}
                                </table>
    
                                {% if visit[2] == 'true' %}
                                    <table class="table table-bordered">
                                        <tr>
                                            <th class="data-label">Medications</th>
                                            <td form="new-visit" name="medications" class="data-value" width="100%">
                                                {{ patient[15] }}
                                            </td>
                                        </tr>
    
                                        <tr>
                                            <th class="data-label">Family HX</th>
                                            <td form="new-visit" name="family_hx" class="data-value" width="100%">
                                                {{ patient[16] }}
                                            </td>
                                        </tr>
    
                                        <tr>
                                            <th class="data-label">Allergy</th>
                                            <td form="new-visit" name="allergy" class="data-value" width="100%">
                                                {{ patient[17] }}
                                            </td>
                                        </tr>
                                    </table>
                                {% endif %}
    
                                <h6>Ten Questions and ROS</h6>
                                <table class="table table-bordered">
                                    {% if visit[2] == 'true' %}
                                        <tr>
                                            <th class="data-label">Fever</th>
                                            <td form="new-visit" name="tq_fever" class="data-value data-3">{{ visit[46] }}</td>
    
                                            <th class="data-label">Perspiration</th>
                                            <td form="new-visit" name="tq_perspiration" class="data-value data-3">{{ visit[47] }}</td>
    
                                            <th class="data-label">Thirst</th>
                                            <td form="new-visit" name="tq_thirst" class="data-value data-3">{{ visit[48] }}</td>
                                        </tr>
                                    {% endif %}
    
                                    <tr>
                                        <th class="data-label">Appetite</th>
                                        <td form="new-visit" name="tq_appetite" class="data-value data-3">{{ visit[49] }}</td>
    
                                        <th class="data-label">Digestion</th>
                                        <td form="new-visit" name="tq_digestion" class="data-value data-3" {%if new_visit%}colspan="3"{%endif%}>{{ visit[50] }}</td>
                                        
                                        {% if visit[2] == 'true' %}
                                            <th class="data-label">Taste</th>
                                            <td form="new-visit" name="tq_taste" class="data-value data-3">{{ visit[51] }}</td>
                                        {% endif %}
                                    </tr>
    
                                    <tr>
                                        <th class="data-label">Bowel Movement</th>
                                        <td form="new-visit" name="tq_bm" class="data-value" colspan="5">{{ visit[52] }}</td>
                                    </tr>
                                </table>
    
                                <table class="table table-bordered">
                                    {% if visit[2] == 'true' %}
                                        <tr>
                                            <th class="data-label">Urine</th>
                                            <td form="new-visit" name="exam_urine" class="data-value" colspan="5">{{ visit[53] }}</td>
                                        </tr>
                                    {% endif %}
    
                                    <tr>
                                        <th class="data-label">Sleep</th>
                                        <td form="new-visit" name="exam_sleep" class="data-value" colspan="5">{{ visit[14] }}</td>
                                    </tr>
        
                                    {% if visit[2] == 'true' %}
                                        <tr>
                                            <th class="data-label">Pain</th>
                                            <td form="new-visit" name="exam_pain" class="data-value" colspan="5">{{ visit[54] }}</td>
                                        </tr>
                                    {% endif %}
    
                                    <tr>
                                        <th class="data-label">Tongue</th>
                                        <td form="new-visit" name="exam_tongue" class="data-value" colspan="5">{{ visit[15] }}</td>
                                    </tr>
    
                                    {% if visit[2] == 'true' %}
                                        <tr>
                                            <th class="data-label">Consciousness</th>
                                            <td form="new-visit" name="exam_consciousness" class="data-value data-3">{{ visit[55] }}</td>
    
                                            <th class="data-label">Energy</th>
                                            <td form="new-visit" name="exam_energy_level" class="data-value data-3">{{ visit[56] }}</td>
    
                                            <th class="data-label">Stress</th>
                                            <td form="new-visit" name="exam_stress_level" class="data-value data-3">{{ visit[57] }}</td>
                                        </tr>
                                    {% endif %}
    
                                    <tr>
                                        <th class="data-label">Pulse L</th>
                                        <td form="new-visit" name="exam_pulse_l" class="data-value data-2">{{ visit[12] }}</td>
    
                                        <th class="data-label">Pulse R</th>
                                        <td form="new-visit" name="exam_pulse_r" class="data-value data-2" colspan="3">{{ visit[13] }}</td>
                                    </tr>
                                </table>
    
                                {% if patient[5] == 'f' %}
                                    <h6>Women Only</h6>
                                    <table class="table table-bordered">
                                        <tr>
                                            <th class="data-label">Menarche</th>
                                            <td form="new-visit" name="women_menarche" class="data-value data-4">{{ visit[58] }}</td>
    
                                            <th class="data-label">Menopause</th>
                                            <td form="new-visit" name="women_menopause" class="data-value data-4">{{ visit[59] }}</td>
    
                                            <th class="data-label">Pregnancies</th>
                                            <td form="new-visit" name="women_num_pregrant" class="data-value data-4">{{ visit[60] }}</td>
    
                                            <th class="data-label">Children</th>
                                            <td form="new-visit" name="women_num_child" class="data-value data-4">{{ visit[61] }}</td>
                                        </tr>
    
                                        <tr>
                                            <th class="data-label">Miscarriage</th>
                                            <td form="new-visit" name="women_miscarriage" class="data-value data-4">{{ visit[62] }}</td>
    
                                            <th class="data-label">Leukorrhea</th>
                                            <td form="new-visit" name="women_leukorrhea" class="data-value data-4">{{ visit[63] }}</td>
    
                                            <th class="data-label">Birth Control</th>
                                            <td form="new-visit" name="women_birth_control" class="data-value data-4" colspan="3">{{ visit[64] }}</td>                
                                        </tr>
    
                                        <tr>
                                            <th class="data-label">Menstruation</th>
                                            <td form="new-visit" name="women_menstruation" class="data-value" colspan="7">{{ visit[65] }}</td>
                                        </tr>
                                    </table>
                                {% endif %}
    
                                <table class="table table-bordered">
                                    <tr>
                                        <th class="data-label-top">TCM Diagnosis</th>
                                        <th class="data-label-top">Treatment Principle</th>
                                        <th class="data-label-top">Acupuncture Points</th>
                                    </tr>
    
                                    <tr>
                                        <td form="new-visit" name="tcm_diag_1" class="data-value">{{ visit[16] }}</td>
                                        <td form="new-visit" name="treat_principle" class="data-value" rowspan="4">{{ visit[20] }}</td>
                                        <td form="new-visit" name="acu_points" class="data-value" rowspan="4">{{ visit[21] }}</td>
                                    </tr>
    
                                    <tr><td form="new-visit" name="tcm_diag_2" class="data-value">{{ visit[17] }}</td></tr>
                                    <tr><td form="new-visit" name="tcm_diag_3" class="data-value">{{ visit[18] }}</td></tr>
                                    <tr><td form="new-visit" name="tcm_diag_4" class="data-value">{{ visit[19] }}</td></tr>
                                </table>
    
                                <h6>Other Treatment</h6>
                                <table class="table table-bordered">
                                    <tr>
                                        <th class="data-label">Moxa</th>
                                        <td class="data-value data-3">
                                            <input form="new-visit" name="moxa" type="checkbox" class="data-checkbox" onclick="return false;" {% if visit[22] == 'true' %}checked{% endif %}>
                                        </td>
    
                                        <th class="data-label">Cupping</th>
                                        <td class="data-value data-3">
                                            <input form="new-visit" name="cupping" type="checkbox" class="data-checkbox" onclick="return false;" {% if visit[23] == 'true' %}checked{% endif %}>
                                        </td>
    
                                        <th class="data-label">Electro Acupuncture</th>
                                        <td class="data-value data-3">
                                            <input form="new-visit" name="eacu" type="checkbox" class="data-checkbox" onclick="return false;" {% if visit[24] == 'true' %}checked{% endif %}>
                                        </td>
                                    </tr>
    
                                    <tr>
                                        <th class="data-label">Auricular</th>
                                        <td form="new-visit" name="auricular" class="data-value" colspan="5">{{ visit[25] }}</td>
                                    </tr>
    
                                    <tr>
                                        <th class="data-label">Condition Treated</th>
                                        <td form="new-visit" name="condition_treated" class="data-value" colspan="5">{{ visit[26] }}</td>
                                    </tr>
                                </table>
    
                                <table class="table table-bordered">
                                    <tr>
                                        <th class="data-label data-label-lg">Fee</th>
                                        <td form="new-visit" name="fee" class="data-value data-2">${{ visit[27] }}</td>
    
                                        <th class="data-label data-label-lg">Paid</th>
                                        <td class="data-value data-2">
                                            <input form="new-visit" visit_pkey="{{ visit[0] }}"
                                                   name="paid" type="checkbox"
                                                   class="data-checkbox paid-checkbox"
                                                   {% if visit[28] == 'true' %}checked{% endif %}>
                                        </td>
                                    </tr>
                                </table>
    
                                <table class="table table-bordered">
                                    <tr>
                                        <th class="data-label">Note</th>
                                        <td form="new-visit" name="note" class="data-value" width="100%">{{ visit[30] }}</td>
                                    </tr>
                                </table>
                            </div>
    
                            <div class="modal-footer">
                                <span id="help-{{ visit[0] }}" class="font-weight-light">all changes saved</span>
                                <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Close</button>
                            </div>                
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        <script src="/static/js/popper.min.js"></script>
        <script src="/static/js/jquery-3.4.1.min.js"></script>
        <script src="/static/js/bootstrap.min.js"></script>

        <form id="submitter" method="POST" hidden></form>

        <script>
            $('#new-create').click(() => {
                $('#submitter').empty()
                $('<input>').attr({
                    value: '{{ new_visit }}' == 'True',
                    name: 'new_visit'
                }).appendTo('#submitter');

                $('[form="new-visit"]').each((i, e) => {
                    var el = $(e)
                    var name = el.attr('name')
                    var val = el.text()
                    console.log(name, val)

                    if (el.is('input')) val = el.prop('checked')

                    $('<input>').attr({
                        name: name,
                        value: val
                    }).appendTo('#submitter');
                })
                $('#submitter').submit()
            })

            $('.paid-checkbox').click((e) => {
                var paid = $(e.target).is(':checked')
                var pkey = $(e.target).attr('visit_pkey')

                $(`#help-${pkey}`).text('updating changes...')
                $.post(`/visit/${pkey}/paid`, {paid: paid}, () => {
                    $(`#help-${pkey}`).text('all changes saved')
                })
            })
        </script>
    </body>
</html>