<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" href="/static/css/bootstrap.min.css">
        <link rel="shortcut icon" href="/static/img/favicon.png">
        <link rel="stylesheet" href="/static/css/font-awesome.min.css">
        
        <title>Vital Acupuncture | Patient Detail</title>
    </head>

    <style>
        body {
            margin-top: 10px;
        }

        #header {
            width: 500px;
            height: 63px;
        }

        .breadcrumb-transparent {
            background-color: transparent;
        }

        .data-label {
            width: 10%;
            text-align: right;
        }

        .data-value {
            text-align: left;
        }

        .data-3 {
            width: calc(70% / 3);
        }

        .data-2 {
            width: calc(70% / 2);
        }

        a:hover {
            text-decoration: none;
        }
    </style>

    <body>
        <div class="container">
            <!-- HEADER -->
            <div class="row">
                <!-- title -->
                <div class="col-md-9">
                    <!-- <h1>Vital Acupuncture</h1> -->
                    <img src="/static/img/header_250.png" alt="Vital Acupuncture" id="header">
                </div>

                <!-- doctor actions -->
                <div class="col-md-3">
                    <div class="btn-group float-right">
                        <div class="border border-secondary rounded-left px-2">
                            👤 {{ doctor }}
                        </div>
                        <button class="btn btn-sm btn-secondary dropdown-toggle" type="button" id="doctor" data-toggle="dropdown"></button>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="/logout">Logout</a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- BREADCRUMBS -->
            <nav>
                <ol class="pb-0 breadcrumb breadcrumb-transparent">
                    <li class="breadcrumb-item"><a href="/home">Home</a></li>
                    <li class="breadcrumb-item active"><a href="/patient/{{ pkey }}">Patient</a></li>
                </ol>
            </nav>

            <hr/>

            <!-- TOOLBAR -->
            <div class="row">
                <!-- patient actions -->
                <div class="col-md-9">
                    <div class="row">
                        <h3>Patient {{ pkey }}</h3>
                        <div class="ml-2">
                            <a href="/patient/{{ pkey }}/edit">
                                <button type="button" class="btn btn-outline-primary">Edit</button>
                            </a>
                            <button type="button" id="delete" class="btn btn-danger" data-toggle="modal" data-target="#confirmation">Delete</button>
                        </div>
                    </div>
                </div>

                <!-- visit actions -->
                <div class="col-md-3">
                    <div class="float-right">
                        <button type="button" data-toggle="modal" data-target="#new-visit" class="btn btn-success">New Visit</button>
                    </div>
                </div>
            </div>

            <br/>

            <!-- DELETE CONFIRM MODAL -->
            <div class="modal fade" tabindex="-1" role="dialog" id="confirmation">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Are you sure?</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>This action is permentant, and cannot be undone</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancel</button>
                            <a href="/patient/{{ pkey }}/delete">
                                <button type="button" id="confirm-delete" class="btn btn-danger">Delete</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- NEW VISIT MODAL -->
            <div class=" modal fade" id="new-visit" tabindex="-1">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">New Visit</h5>
                        </div>

                        <div class="modal-body">
                            <h6>{{ pkey }}</h6>
                            <table class="table table-bordered">
                                <tr>
                                    <th class="data-label">Fname</th>
                                    <td class="data-value data-3">
                                        {% if patient[4] %} {{ patient[4] }}
                                        {% else %}<i>N/A</i>{% endif %}
                                    </td>
                                    <th class="data-label">Lname</th>
                                    <td class="data-value data-3">
                                        {% if patient[3] %} {{ patient[3] }}
                                        {% else %}<i>N/A</i>{% endif %}
                                    </td>
                                    <th class="data-label">DOB</th>
                                    <td class="data-value data-3">
                                        {% if patient[6] %} {{ patient[6] }}
                                        {% else %}<i>N/A</i>{% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <th class="data-label">Gender</th>
                                    <td class="data-value">
                                        {% if patient[5] %} 
                                            {% if patient[5] == 'm' %}
                                                Male
                                            {% else %}
                                                Female
                                            {% endif %}
                                        {% else %}<i>N/A</i>{% endif %}
                                    </td>
                                    <th class="data-label">Height</th>
                                    <td class="data-value">
                                        {% if patient[7] %} {{ patient[7] }}
                                        {% else %}<i>N/A</i>{% endif %}
                                    </td>
                                    <th class="data-label">Weight</th>
                                    <td class="data-value">
                                        {% if patient[8] %} {{ patient[8] }}
                                        {% else %}<i>N/A</i>{% endif %}
                                    </td>
                                </tr>
                            </table>

                            <h6>Intake Form</h6>
                            <table class="table table-bordered">
                                <tr>
                                    <th class="data-label">Temp</th>
                                    <td class="data-value data-3" contenteditable="true"></td>

                                    <th class="data-label">Blood</th>
                                    <td class="data-value data-3" contenteditable="true"></td>

                                    <th class="data-label">Heart</th>
                                    <td class="data-value data-3" contenteditable="true"></td>
                                </tr>

                                <tr>
                                    <th class="data-label">Complaint</th>
                                    <td class="data-value" colspan="5" contenteditable="true"></td>
                                </tr>

                                <tr>
                                    <th class="data-label">Location</th>
                                    <td class="data-value" contenteditable="true"></td>

                                    <th class="data-label">Onset</th>
                                    <td class="data-value data-2" colspan="3" contenteditable="true"></td>
                                </tr>

                                <tr>
                                    <th class="data-label">Provocation</th>
                                    <td class="data-value" contenteditable="true"></td>

                                    <th class="data-label">Palliation</th>
                                    <td class="data-value data-2" colspan="3" contenteditable="true"></td>
                                </tr>

                                <tr>
                                    <th class="data-label">Quality</th>
                                    <td class="data-value" contenteditable="true"></td>

                                    <th class="data-label">Region</th>
                                    <td class="data-value data-2" colspan="3" contenteditable="true"></td>
                                </tr>
    
                                <tr>
                                    <th class="data-label">Severity</th>
                                    <td class="data-value" contenteditable="true"></td>

                                    <th class="data-label">Frequency</th>
                                    <td class="data-value data-2" colspan="3" contenteditable="true"></td>
                                </tr>
    
                                <tr>
                                    <th class="data-label">Timing</th>
                                    <td class="data-value" contenteditable="true"></td>

                                    <th class="data-label">P. Cause</th>
                                    <td class="data-value data-2" colspan="3" contenteditable="true"></td>
                                </tr>

                                <tr>
                                    <th class="data-label">Remarks</th>
                                    <td class="data-value" colspan="5" contenteditable="true"></td>
                                </tr>

                                <tr>
                                    <th class="data-label">P. Illness</th>
                                    <td class="data-value" colspan="5" contenteditable="true"></td>
                                </tr>

                                <tr>
                                    <th class="data-label">History</th>
                                    <td class="data-value" colspan="5" contenteditable="true">
                                        {% if patient[14] %}{{ patient[14] }}{% endif %}
                                    </td>
                                </tr>

                                <tr>
                                    <th class="data-label">Medications</th>
                                    <td class="data-value" colspan="5" contenteditable="true">
                                        {% if patient[15] %}{{ patient[15] }}{% endif %}
                                    </td>
                                </tr>

                                <tr>
                                    <th class="data-label">Family HX</th>
                                    <td class="data-value" colspan="5" contenteditable="true">
                                        {% if patient[16] %}{{ patient[16] }}{% endif %}
                                    </td>
                                </tr>

                                <tr>
                                    <th class="data-label">Allergy</th>
                                    <td class="data-value" colspan="5" contenteditable="true">
                                        {% if patient[17] %}{{ patient[17] }}{% endif %}
                                    </td>
                                </tr>
                            </table>

                            <h6>Ten Questions and ROS</h6>
                            <table class="table table-bordered">
                                <tr>
                                    <th class="data-label">Fever</th>
                                    <td class="data-value data-3" contenteditable="true"></td>

                                    <th class="data-label">Perspiration</th>
                                    <td class="data-value data-3" contenteditable="true"></td>

                                    <th class="data-label">Thirst</th>
                                    <td class="data-value data-3" contenteditable="true"></td>
                                </tr>

                                <tr>
                                    <th class="data-label">Appetite</th>
                                    <td class="data-value data-3" contenteditable="true"></td>

                                    <th class="data-label">Digestion</th>
                                    <td class="data-value data-3" contenteditable="true"></td>

                                    <th class="data-label">Taste</th>
                                    <td class="data-value data-3" contenteditable="true"></td>
                                </tr>

                                <tr>
                                    <th class="data-label">Urine</th>
                                    <td class="data-value" colspan="5" contenteditable="true"></td>
                                </tr>

                                <tr>
                                    <th class="data-label">Sleep</th>
                                    <td class="data-value" colspan="5" contenteditable="true"></td>
                                </tr>
    
                                <tr>
                                    <th class="data-label">Pain</th>
                                    <td class="data-value" colspan="5" contenteditable="true"></td>
                                </tr>

                                <tr>
                                    <th class="data-label">Tongue</th>
                                    <td class="data-value" colspan="5" contenteditable="true"></td>
                                </tr>

                                <tr>
                                    <th class="data-label">Consciousness</th>
                                    <td class="data-value data-3" contenteditable="true"></td>

                                    <th class="data-label">Energy</th>
                                    <td class="data-value data-3" contenteditable="true"></td>

                                    <th class="data-label">Stress</th>
                                    <td class="data-value data-3" contenteditable="true"></td>
                                </tr>

                                <tr>
                                    <th class="data-label">Pulse L</th>
                                    <td class="data-value data-2" contenteditable="true"></td>

                                    <th class="data-label">Pulse R</th>
                                    <td class="data-value data-2" colspan="3" contenteditable="true"></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <!-- DATA TABLE -->
            <div>
                <table class="table table-bordered">
                    <tr>
                        <th class="data-label">Fname</th>
                        <td class="data-value data-3">
                            {% if patient[4] %} {{ patient[4] }}
                            {% else %}<i>N/A</i>{% endif %}
                        </td>
                        <th class="data-label">Lname</th>
                        <td class="data-value data-3">
                            {% if patient[3] %} {{ patient[3] }}
                            {% else %}<i>N/A</i>{% endif %}
                        </td>
                        <th class="data-label">DOB</th>
                        <td class="data-value data-3">
                            {% if patient[6] %} {{ patient[6] }}
                            {% else %}<i>N/A</i>{% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th class="data-label">Gender</th>
                        <td class="data-value">
                            {% if patient[5] %} 
                                {% if patient[5] == 'm' %}
                                    Male
                                {% else %}
                                    Female
                                {% endif %}
                            {% else %}<i>N/A</i>{% endif %}
                        </td>
                        <th class="data-label">Height</th>
                        <td class="data-value">
                            {% if patient[7] %} {{ patient[7] }}
                            {% else %}<i>N/A</i>{% endif %}
                        </td>
                        <th class="data-label">Weight</th>
                        <td class="data-value">
                            {% if patient[8] %} {{ patient[8] }}
                            {% else %}<i>N/A</i>{% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th class="data-label">Addr 1</th>
                        <td class="data-value" colspan="5">
                            {% if patient[9] %} {{ patient[9] }}
                            {% else %}<i>N/A</i>{% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th class="data-label">Addr 2</th>
                        <td class="data-value" colspan="5">
                            {% if patient[10] %} {{ patient[10] }}
                            {% else %}<i>N/A</i>{% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th class="data-label">Phone 1</th>
                        <td class="data-value" colspan="5">
                            {% if patient[11] %} {{ format_phone(patient[11]) }}
                            {% else %}<i>N/A</i>{% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th class="data-label">Phone 2</th>
                        <td class="data-value" colspan="5">
                            {% if patient[12] %} {{ format_phone(patient[12]) }}
                            {% else %}<i>N/A</i>{% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th class="data-label">Email</th>
                        <td class="data-value" colspan="5">
                            {% if patient[13] %} {{ patient[13] }}
                            {% else %}<i>N/A</i>{% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th class="data-label">History</th>
                        <td class="data-value" colspan="5">
                            {% if patient[14] %} {{ patient[14] }}
                            {% else %}<i>N/A</i>{% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th class="data-label">Family HX</th>
                        <td class="data-value" colspan="5">
                            {% if patient[16] %} {{ patient[16] }}
                            {% else %}<i>N/A</i>{% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th class="data-label">Allergy</th>
                        <td class="data-value" colspan="5">
                            {% if patient[17] %} {{ patient[17] }}
                            {% else %}<i>N/A</i>{% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th class="data-label">Note</th>
                        <td class="data-value" colspan="5">
                            {% if patient[18] %} {{ patient[18] }}
                            {% else %}<i>N/A</i>{% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th class="data-label">Attachment</th>
                        <td class="data-value" colspan="5">
                            {% if patient[19] %}
                                <a href="{{ patient[19] }}" target="__blank">{{ patient[19] }}</a>
                            {% else %}
                                <i>N/A</i>
                            {% endif %}
                        </td>
                    </tr>
                </table>
            </div>
        </div>

        <script src="/static/js/popper.min.js"></script>
        <script src="/static/js/jquery-3.4.1.min.js"></script>
        <script src="/static/js/bootstrap.min.js"></script>
    </body>
</html>